/* Button Styles */

.btn {
    display: inline-block;
    padding: var(--margin-small) var(--margin-medium);
    background-color: var(--color-links);
    color: var(--color-bg);
    border-radius: var(--radius);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size-increased);
    cursor: pointer;
    transition: background-color 0.5s ease;
    box-shadow: none;
    outline: none;
}

.btn:hover {
    background-color: var(--color-links);
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.btn-back-breadcrumb {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}